.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11505f
}

.geoBtn {
    margin-left: 20px;
    color: white;
}
.geoBtnText{
    color: white;
}

@media only screen and (max-width: 480px) {
    .geoBtnText{
        display: none;
    }
}