.wrap {
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    margin: 20px auto 5px;
    padding: 20px;
    min-height: 550px;
    flex-grow: 1;
}

.container {
    height: 100%;
}

.skeleton {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.paperLeft {
    display: flex;
    width: 400px;
    margin: 20px;
    height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

.weatherMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.paperRight {
    display: flex;
    width: 100%;
    max-width: 880px;
    margin: 20px;
    height: 660px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}

.list {
    width: 100%;
    max-width: 260px;
    color: #fff;
}

@media only screen and (max-width: 1250px) {
    .container {
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .paperRight {
        width: 100%;
        margin: 10px;
        max-height: 560px;
    }

    .paperLeft {
        width: 400px;
        height: 400px;
    }

    .list {
        height: 200px;
    }

    .divider {
        display: none;
    }

}

@media only screen and (max-width: 1040px) {
    .paperLeft {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
    }
}


@media only screen and (max-width: 768px) {

    .paperRight {
        max-height: 400px;
    }

}

@media only screen and (max-width: 480px) {
    .paperLeft {
        flex-direction: column;
        height: 460px;
    }
}


::-webkit-scrollbar-button {
    background-color: #11505f;
    background-repeat: no-repeat;
    width: 5px;
    height: 0;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #6dc0c8;
}

::-webkit-resizer {
    background-color: #11505f;;
    background-repeat: no-repeat;
    width: 4px;
    height: 0
}

::-webkit-scrollbar {
    width: 4px;
}